a{
    text-decoration: none;
}

ul,ol{
    list-style-type: none;
}

button{
    cursor: pointer;
}
/*Header*/
.header{

}

 body{
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color:#434455; 
 }

.logo-style{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;  
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;   
}

.nav-header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.item-nav-link-f:hover, .item-nav-link-f:focus {
    color: #404bbf;
}

.item-nav-link-f:active {
    text-decoration: underline;
}

.item-nav-link:hover, .item-nav-link:focus {
    color: #404bbf;
}

.address{
    font-style: normal;
}

.link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.link:hover, .link:focus {
    color: #404bbf;
}
/*EndHeader*/

/*Section 1*/
.hero{
   
    background: #2e2f42;
 }
.head-hero{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button-head-hero{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border-radius: 4px;
    background: #4D5AE5;
    cursor: pointer;
    text-align: center;
}

.button-head-hero:focus, .button-head-hero:hover, .button-head-hero:active { 
    background-color: #404bbf;
}

.button-text{

}

.advantage{

}
.list-section-one {
    width: 1128px;
    /*weight: 104px;*/
    column-count: 4; 
}

.item-list-section-one {
    
}

.head-item-list-section-one {
    font-family: "Roboto", sans-serif; 
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.text-item-section-one {
    /* font-family: "Roboto", sans-serif; */
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    
}
/*EndSection 1*/
.ourteam {
   /* width: 1440px;
    height: 732px; */
    background: #f4f4fd;
}


.table-team{
    column-count: 4;
}

.head-our-team {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.item-our-team{
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    background: #fff;
}

.photo-team-card {
    width: 264px;
    height: 260px; 
    background: url("path_to_image");
}

.photo-team-card:hover, .photo-team-card:focus{
    
}

.name-team-card {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.text-team-card {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/* EndSection 2 */

/* Section 3*/
.our-portfolio{
   
}

.head-portfolio{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.row-one {
    width: 1128px;
    height: 420px;
    column-count: 3;
}

.pj-card {
    width: 360px;
    height: 420px;
    background: #fff; 
}

.photo-portfolio {
    
}

.row-two {
    width: 1128px;
    height: 420px;
    column-count: 3;
       
}

.header-card{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.info-card{
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;   
}

/*footer*/
.footer {
    width: 1440px;
    height: 312px;
    background: #2e2f42;   
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-link-style {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
 /*Endfooter*/

.content{
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
}


